* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #fff;
}

.container {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.input-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#movieInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

#addBtn {
    padding: 10px 18px;
    background-color: #00b894;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

#addBtn:hover {
    background-color: #019874;
}

#movieList {
    list-style: none;
    margin: 15px 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

#movieList li {
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

#movieList li:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.05);
}

.footer {
    margin-top: 15px;
}

#clearBtn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #1576af;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#clearBtn:hover {
    background-color: #b71c1c;
}
